<% content_for :sidebar_title, "Mark Hoad" %>
<% content_for :sidebar_description, "A blog covering my journey as a digital nomad, 
                                     running a small marketing agency and launching 
                                     a SaaS business." %>
<section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

    <div class="sub-nav">
        <a href="#" class="select-posts active">Posts</a>
        <a href="#" class="select-categories">Categories</a>
    </div>

    <div class="home-page-posts animated fadeIn ">
        <% @posts.each do |post| %>
            <article class="post">
                <div class="post-preview col-xs-10  no-gutter">
                <h2><%= link_to post.title, [post.category, post] %></a></h2>
                <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>
                <p class="meta">
                    Posted in: <%= link_to post.category.name, category_path(post.category) %> on 
                    <%= post.updated_at.strftime('%b %d, %Y') %> 
                    <i class="link-spacer"></i> 
                    <i class="fa fa-bookmark"></i> 
                    <%= post.reading_time %> minute read
                </p>
                </div>
                <div class=" col-xs-2  no-gutter">
                <%= image_tag("profile-1.jpg", class: "user-icon", alt: "user-image")%>
                </div>
            </article>
        <% end %>
    </div><!-- Home page posts -->

    <div class="home-page-categories hide animated fadeIn ">
        <div class="category row">
            <section>
              <% @categories.each do |category| %>
                <div class="category-preview col-xs-6 col-sm-4 ">
                <h2><%= category.name %></h2>
                <%= link_to category_path(category) do %>
                  <%= image_tag("cover-2.jpg", alt: category.name) %>
                <% end %>
                </div>
              <% end %>
            </section>
        </div>
    </div>
    <footer class="split-footer">
        <a href="post.html">About</a>
        <i class="link-spacer"></i>
        <a href="post.html">Writer 2015</a>
    </footer>

</section><!-- main content -->