<nav id="menu-target">
    <ul>
        <li><i class="fa fa-home"></i><%= link_to "Home", root_path %></li>
        <li><i class="fa fa-user"></i><a href="#">John Smith</a></li>
        <li><i class="fa fa-anchor"></i><a href="#">About</a></li>
        <li><i class="fa fa-star"></i><a href="#">Favorites</a></li>
        <li><i class="fa fa-paper-plane"></i><a href="#">Contact</a></li>
    </ul>
    <hr>
    <ul>
        <li><i class="fa fa-file"></i><a href="#">Post Page</a></li>
        <li><i class="fa fa-file"></i><a href="#">Post with Sidebar</a></li>

        <li><i class="fa fa-home"></i><a href="#">Alternate Home</a></li>
        <li><i class="fa fa-image"></i><a href="#">Category Page</a></li>
        <% if admin_signed_in? %>
        <!--This block is only visible to signed in admins -->
          <li><%= link_to 'New Post', new_post_path %></li>
          <li><%= link_to 'My Account', edit_admin_registration_path  %></li>
          <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
        <!-- The block ends here -->
        <% else %>
          <li><%= link_to 'Login', new_admin_session_path  %></li>
        <% end %>
    </ul>
</nav>