<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Personal Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5shiv.min.js" %>
    <![endif]-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if !notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if !alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end %>
        <%= yield %>
      </div> <!--/row -->
    </main> <!-- /container -->
  </body>
</html>
