<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Personal Blog Single Post</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5shiv.min.js" %>
    <![endif]-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/flash_messages" %>
    <%= render "layouts/nojs_main_nav" %>

    <header class="hero-image" role="banner" style="background-image: url(<%= path_to_image("default-single-hero.jpg")%>);">
      <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
      <%= render "layouts/js_main_nav" %>
    </header>

    <%= yield %>
    
  </body>
</html>
